---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.pages.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "pages" }}</h2> -->
    <ul class="post-list">
      {%- for page in site.pages -%}
      {% if page.type contains "home-section" %}
      <li>
        <h3>{{ page.title | escape }}</h3>
        <span>{{ page.excerpt }}</span>

        <a href="{{ page.url | relative_url }}">Read more</a>
      </li>

      {% endif %}
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p>
  {%- endif -%}

</div>
