---
layout: default-home
---

<div class="home">
  
  <div class="home-header">
    <h2>The <b>product</b> index</h2>
    <span>An open and organized directory of the best pieces about Product Management.</span>
  </div>
  

  {%- if site.pages.size > 0 -%}
    <ul class="post-list">
      {%- for page in site.pages -%}
      {% if page.type contains "home-section" %}
      <li style="background-image: url({{ page.image }}); order: {{ page.order }}" order="{{ page.order }}">

        <h3>{{ page.title | escape }}</h3>
        <span>{{ page.excerpt }}</span>

        <a style="color: #{{ page.color }}" href="{{ page.url | relative_url }}">Start to read</a>
        <div class="color-back" style="background-color: #{{ page.color }}"></div>
      </li>

      {% endif %}
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
